<!-- <p id="notice"><%= notice %></p>

<h1>Stages</h1> -->

<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stages.each do |stage| %>
      <tr>
        <td><%= link_to 'Show', stage %></td>
        <td><%= link_to 'Edit', edit_stage_path(stage) %></td>
        <td><%= link_to 'Destroy', stage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stage', new_stage_path %> -->


  <div class="stage1">

    <div id="chap1">
      <br><br><br><br><br>

      <div id="left">
          <a href="#chap3">Left</a>
      </div>

      <div id="right">
          <a href="#chap2">Right</a>
      </div>

    </div>

    <div id="chap2">
      <br><br><br><br><br>

          <div id="left">
              <a href="#chap5">Left</a>
          </div>

          <div id="right">
              <a href="#chap4">Right</a>
          </div>

    </div>



      <div id="chap3">
        <br><br><br><br><br>

        <div id="left">
            <a href="#chap7">Left</a>
        </div>

        <div id="right">
            <a href="#chap6">Right</a>
        </div>

      </div>

      <div id="chap4">
          <br><br><br><br><br>

          <div id="left">
              <a href="#chap9">Left</a>
          </div>

          <div id="right">
              <a href="#chap8">Right</a>
          </div>

      </div>
    </div>



    <div class="stage2">

          <div id="chap5">
            <br><br><br><br><br>

            <div id="left">
                <a href="#chap11">Left</a>
            </div>

            <div id="right">
                <a href="#chap10">Right</a>
            </div>

          </div>

          <div id="chap6">
            <br><br><br><br><br>

            <div id="left">
                <a href="#chap13">Left</a>
            </div>

            <div id="right">
                <a href="#chap12">Right</a>
            </div>

          </div>


          <div id="chap7">
            <br><br><br><br><br>

            <div id="left">
                <a href="#chap15">Left</a>
            </div>

            <div id="right">
                <a href="#chap14">Right</a>
            </div>

          </div>

          <div id="chap8">
            <br><br><br><br><br>

            <div id="left">
                <a href="#chap17">Left</a>
            </div>

            <div id="right">
                <a href="#chap16">Right</a>
            </div>

          </div>


          <div id="chap9">
              <br><br><br><br><br>

              <div id="left">
                  <a href="#chap19">Left</a>
              </div>

              <div id="right">
                  <a href="#chap18">Right</a>
              </div>

          </div>


          <div id="chap10">
              <br><br><br><br><br>

              <div id="left">
                  <a href="#chap21">Left</a>
              </div>

              <div id="right">
                  <a href="#chap20">Right</a>
              </div>

          </div>

    </div>
