<!-- <p id="notice"><%= notice %></p>

<h1>Stages</h1> -->

<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stages.each do |stage| %>
      <tr>
        <td><%= link_to 'Show', stage %></td>
        <td><%= link_to 'Edit', edit_stage_path(stage) %></td>
        <td><%= link_to 'Destroy', stage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stage', new_stage_path %> -->

  <div class="stage1">


    <div id="chap1">
      <br><br><br><br><br>
    </div>



    <div id="chap2">
      <br><br><br><br><br>
      <div class="speech2">
            <br>
        <div id="right">
            <!-- <a href="#chap3">Next</a> -->
        </div>
      </div>
    </div>

    <div class="stage1point5">
      <%= image_tag "rain.gif", :style => "width: 131%; left: -13%; position: relative; top: 14%"%>
    </div>

  </div>

    <div class="stage2">


      <div id="chap3">
        <br><br><br><br><br>
        <div class="speech7">
              <br>
          <div id="right">
              <!-- <a href="#chap4">Next</a> -->
          </div>
        </div>
      </div>


          <div id="chap6">
            <br><br><br><br><br>
            <div class="speech11">
                  <br>
              <div id="right">
                  <!-- <a href="#chap7">Next</a> -->
              </div>
            </div>
          </div>


          <div id="chap7">
            <br><br><br><br><br>
            <div class="speech12">
                  <br>
              <div id="right">
                  <!-- <a href="#chap8">Next</a> -->
              </div>
            </div>
          </div>

          <div id="chap8">
            <br><br><br><br><br>
            <div class="speech8">
                  <br>
              <div id="right">
                  <!-- <a href="#chap9">Next</a> -->
              </div>
            </div>
          </div>

          <div id="chap9">
            <br><br><br><br><br>
            <div class="speech9">
                  <br>
              <div id="right">
                  <!-- <a href="#chap10">Next</a> -->
              </div>
            </div>
          </div>

          <div id="chap10">
            <br><br><br><br><br>
            <div class="speech10">
                  <br>
              <div id="right">
                  <!-- <a href="#chap11">Next</a> -->
              </div>
            </div>
          </div>

          <div id="chap11">
            <br><br><br><br><br>
            <div class="speech13">
                  <br>
              <div id="right">
                  <!-- <a href="#chap12">Next</a> -->
              </div>
            </div>
          </div>


          <div id="chap12">
            <br><br><br><br><br>
            <div class="speech12">
                  <br>
              <div id="right">
                  <a href="#chap13">Next</a>
              </div>
            </div>
          </div>



    <div id="chap13">
      <br><br><br><br><br>
      <div class="speech12">
            <br>
        <div id="right">
            <a href="#chap13">Next</a>
        </div>
      </div>
    </div>



<div id="chap14">
  <br><br><br><br><br>
  <div class="speech12">
        <br>
    <div id="right">
        <a href="#chap13">Next</a>
    </div>
  </div>
</div>



<div id="chap15">
  <br><br><br><br><br>
  <div class="speech12">
        <br>
    <div id="right">
        <a href="#chap13">Next</a>
    </div>
  </div>
</div>



<div id="chap16">
  <br><br><br><br><br>
  <div class="speech12">
        <br>
    <div id="right">
        <a href="#chap13">Next</a>
    </div>
  </div>
</div>



<div id="chap17">
  <br><br><br><br><br>
  <div class="speech12">
        <br>
    <div id="right">
        <a href="#chap13">Next</a>
    </div>
  </div>
</div>



<div id="chap18">
  <br><br><br><br><br>
  <div class="speech12">
        <br>
    <div id="right">
        <a href="#chap13">Next</a>
    </div>
  </div>
</div>



<div id="chap19">
  <br><br><br><br><br>
  <div class="speech12">
        <br>
    <div id="right">
        <a href="#chap13">Next</a>
    </div>
  </div>
</div>
</div>



<div class="stage3">


<div id="chap20">
  <br><br><br><br><br>
  <div class="speech12">
        <br>
    <div id="right">
        <a href="#chap13">Next</a>
    </div>
  </div>
</div>


<div id="chap21">
  <br><br><br><br><br>
  <div class="speech12">
        <br>
    <div id="right">
        <a href="#chap13">Next</a>
    </div>
  </div>
</div>


<div id="chap22">
  <br><br><br><br><br>
  <div class="speech12">
        <br>
    <div id="right">
        <a href="#chap13">Next</a>
    </div>
  </div>
</div>


<div id="chap23">
  <br><br><br><br><br>
  <div class="speech12">
        <br>
    <div id="right">
        <a href="#chap13">Next</a>
    </div>
  </div>
</div>


<div id="chap24">
  <br><br><br><br><br>
  <div class="speech12">
        <br>
    <div id="right">
        <a href="#chap13">Next</a>
    </div>
  </div>
</div>


<div id="chap25">
  <br><br><br><br><br>
  <div class="speech12">
        <br>
    <div id="right">
        <a href="#chap13">Next</a>
    </div>
  </div>
</div>


<div id="chap26">
  <br><br><br><br><br>
  <div class="speech12">
        <br>
    <div id="right">
        <a href="#chap13">Next</a>
    </div>
  </div>
</div>

<div id="chap27">
  <br><br><br><br><br>
  <div class="speech12">
        <br>
    <div id="right">
        <a href="#chap13">Next</a>
    </div>
  </div>
</div>


<div id="chap28">
  <br><br><br><br><br>
  <div class="speech12">
        <br>
    <div id="right">
        <a href="#chap13">Next</a>
    </div>
  </div>
</div>

<div id="chap29">
  <br><br><br><br><br>
  <div class="speech12">
        <br>
    <div id="right">
        <a href="#chap13">Next</a>
    </div>
  </div>
</div>

<div id="chap30">
  <br><br><br><br><br>
  <div class="speech12">
        <br>
    <div id="right">
        <a href="#chap13">Next</a>
    </div>
  </div>
</div>

</div>
    </div>
<!--
    <script language="JavaScript1.2">





    var currentpos=0,alt=1,curpos1=0,curpos2=-1
      function initialize(){
      startit()
      }
      function scrollwindow(){
      if (document.all)
        temp=document.body.scrollTop
      else
        temp=window.pageYOffset
      if (alt==0)
        alt=1
      else
        alt=0
      if (alt==0)
        curpos1=temp
      else
        curpos2=temp
      if (curpos1!=curpos2){
        if (document.all)
          currentpos=document.body.scrollTop+1
      else
        currentpos=window.pageYOffset+1
        window.scroll(0,currentpos)
    }
      else{
          currentpos=0
          window.scroll(0,currentpos)
    }
    }
      function startit(){
          setInterval("scrollwindow()",10)
    }
        window.onload=initialize

     </script> -->
