                                            <!-- MAIN PAGE -->
        <audio id="audio_play">
            <%= audio_tag "/", :id => "C_Because", :onload => "playSound()" %>
        </audio>

        <audio id="audio_play">
            <%= audio_tag "/", :id => "C_Board", :onload => "playSound()" %>
        </audio>

  <div class="stage1">


    <div id="chap1" >
        <%= audio_tag "rain.mp3", :id => "rain", :onload => "playSound()" %>
        <%= image_tag "cloud.png", :style => "width: 50%;left: -16%;position: relative;top: 102px;"%>
      <br><br><br><br><br>
    </div>



    <div id="chap2">
      <br><br><br><br><br>
            <br>
        <div id="right">
        </div>
      </div>
    </div>

    <div class="stage1point5">
      <%= image_tag "rain.gif", :style => "width: 131%; left: -13%; position: relative; top: 41px"%>
    </div>

  </div>

    <div class="stage2">


      <div id="chap3">
        <br><br><br><br><br>
        <%= image_tag "music.gif", :style => "width: 18%;left: 78%;position: relative;top: 42%;"%>
              <br>
        </div>


      <div id="chap4">
        <br><br><br><br><br>
        <%= audio_tag "Door Open and Close.mp3", :id => "door", :onload => "playSound()" %>
          </div>



      <div id="chap5">
        <br><br><br><br><br>
          </div>


      <div id="chap6">
        <br><br><br><br><br>
              <br>
                <div class="who">
                  <%= image_tag "speech/1", :style => "width: 35%;left: 21%;position: relative;top: -68px;"%>
                </div>
          </div>



      <div id="chap7">
        <br><br><br><br><br>
                    <br>
                  <%= image_tag "speech/2", :style => "width: 35%;left: 21%;position: relative;top: -68px;"%>
          </div>


      <div id="chap8">
        <br><br><br><br><br>
                <%= image_tag "speech/3", :style => "width: 35%;left: 0%;position: relative;top: -96px;"%>
        </div>

                <%= image_tag "speech/4", :style => "width: 97%;position: relative;top: -150px;background-color: #a94a4a82;height: 848px"%>

           <!-- <div id="chap9">
            <br><br><br><br><br>
            </div> -->

        <div id="chap10">
          <br><br><br><br><br>
          </div>

        <div id="chap11">
          <br><br><br><br><br>
          <%= image_tag "ques.gif", :style =>"width: 131%;left: -13%;position: relative;top: -21%;width: 22%; left: 90%;"%>

          <%= image_tag "speech/5", :style => "width: 35%;left: 16%;position: relative;top: -124px;"%>

              <!-- Frida voice over -->

              <audio id="audio_play">
                  <%= audio_tag "Frida copy.mp3", :id => "Frida", :onload => "playSound()" %>
              </audio>

                    <!--  -->

              <!-- Allegra voice over -->

              <audio id="audio_play">
                  <%= audio_tag "Allegra.mp3", :id => "Allegra", :onload => "playSound()" %>
              </audio>

                    <!--  -->


          <%= image_tag "speech/6", :style => "width: 55%;left: 83%;position: relative;top: -319px;"%>
          </div>


          <div id="chap12">
            <br><br><br><br><br>
            <%= image_tag "speech/7", :style => "width: 55%;left: -28%;position: relative;top: 215px;"%>
            </div>

        <div id="chap12pFive">
          <br><br><br><br><br>
          <%= image_tag "zzz.gif", :style =>"width: 131%;left: -13%;position: relative;top: -18%;width: 22%;left: 44%;"%>

          <audio id="audio_play">
              <%= audio_tag "Sharif copy.mp3", :id => "Sharif", :onload => "playSound()" %>
          </audio>

          </div>



        <div id="chap13">
          <br><br><br><br><br>
                <%= image_tag "speech/8", :style => "width: 77%;left: 60%;position: relative;top: 24px;"%>
          </div>



        <div id="chap14">
          <br><br><br><br><br>
            <%= image_tag "speech/9", :style => "width: 42%;left: 16%;position: relative;top: -72px;"%>
            <%= image_tag "speech/10", :style => "width: 42%;left: 19%;position: relative;top: -20px;"%>
        </div>



        <div id="chap15">
          <br><br><br><br><br>
          <%= image_tag "speech/13", :style => "width: 58%;left: 24%;position: relative;top: -401px;"%>
        </div>



        <div id="chap16">
          <br><br><br><br><br>
        </div>

        <div id="chap16point5">
          <br><br><br><br><br>
        </div>



        <div id="chap17">
          <br><br><br><br><br>
        </div>



        <div id="chap18">
          <br><br><br><br><br>
          <%= image_tag "speech/11", :style => "width: 35%;left: 13%;position: relative;top: -264px;"%>
        </div>



        <div id="chap19">
          <br><br><br><br><br>

              <div class="class">
                <a href="/stages/show">Check out the <br><br> Classroom</a>
              </div>

              <div class="break">
                <a href="/stages/new">Check out the <br><br> Breakroom</a>
              </div>

              <%= image_tag "speech/12", :style => "width: 35%;left: -56%;position: relative;top: 102px;"%>
        </div>
    </div>

    <script>

      function backgroundM() {
        document.getElementById("pink").play();
        // initialize();
        rain();
        Allegra();
        Sharif();
        Frida();
      }

      backgroundM();

    // var currentpos=0,alt=1,curpos1=0,curpos2=-1
    // function initialize(){
    // startit()
    // }
    // function scrollwindow(){
    // if (document.all)
    //   temp=document.body.scrollTop
    // else
    //   temp=window.pageYOffset
    // if (alt==0)
    //   alt=1
    // else
    //   alt=0
    // if (alt==0)
    //   curpos1=temp
    // else
    //   curpos2=temp
    // if (curpos1!=curpos2){
    //   if (document.all)
    //     currentpos=document.body.scrollTop+1
    // else
    //   currentpos=window.pageYOffset+1
    //   window.scroll(0,currentpos)
    // }
    //
    // }
    // function startit(){
    //    time = setInterval("scrollwindow()",3)
    // }
    //   window.onload=initialize

    </script>
