<!DOCTYPE html>
<html>
  <head>
    <title>Scrolly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
  <%= audio_tag "The Pink Panther Theme Song.mp3", :id => "pink" %>

    <%= yield %>
  </body>
</html>

<script>
  window.onload = function backgroundM() {
    document.getElementById("pink").play();
    initialize();
  }
</script>
