<!DOCTYPE html>
<html>
  <head>
    <title>Scrolly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body onload="rain(),door()">

    <script>
    function rain() {
      var thunder = document.getElementById("rain")
      thunder.play()
    };



      function door() {
        var creak = document.getElementById("door")
        // setInterval(function(){ creak.play(); }, 5000);
      };

    </script>


    <%= yield %>
  </body>
</html>
